### Python.gitignore ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### images ###
upload_data
flagged
data
样品1 LG 65UF8580
样品2 SONY 43吋
样品3 亚马逊 43吋
DeepQA-with-Pytorch
LOFTR