### Python.gitignore ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### images ###
upload_data
flagged
data
样品1 LG 65UF8580
样品2 SONY 43吋
样品3 亚马逊 43吋
DeepQA-with-Pytorch
GeoFormer/croped_result
GeoFormer/saved_ckpt
GeoFormer/croped_result_AMAZON
GeoFormer/croped_result_LG
GeoFormer/croped_result_SONY
GeoFormer/finetune_data
Siamese-pytorch/logs*
src/croped_result
model_data